.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 1380px;
  width: 100%;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  margin-top: 70px;
}

.imgContainer {
  width: 100%;
  position: relative;
  height: 400px;
}

.img {
  border-radius: 20px;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.title {
  color: var(--btn);
  font-size: 32px;
  margin: 0;
}

.detail {
  display: flex;
  gap: 10px;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}

.content {
  color: aquamarine;
  font-size: 18px;
  line-height: 1.6;
}

@media (min-width: 769px) {
  .container {
    flex-direction: row;
    gap: 20px;
  }

  .imgContainer {
    flex: 1;
    height: 50vh; /* Image takes half of the viewport height */
  }

  .textContainer {
    flex: 1;
  }

  .title {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .imgContainer {
    height: 300px;
  }

  .title {
    font-size: 24px;
  }

  .content {
    font-size: 16px;
  }
}
